<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.web>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
        </staticContent>
        <modules runAllManagedModulesForAllRequests="true"/>
    </system.web>
</configuration>

