.modal.fade .container {
	text-align: center;
}
/* .modal.fade .container-fluid button {
	vertical-align: middle;
	display: inline-block;
	margin-top: 60px;
	margin-right: 40px;
	margin-left: 40px;
	background-color: rgba(251, 35, 49, 1);
	color: white;
	font-size: 28px;
	font-weight: 650;
	text-align: center;
	padding: 0px 24px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	width: 260px;
	height: 110px;
} */

.modal.fade .center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.modal.fade .btn8 {
	background-color: rgba(251, 35, 49, 1);
	color: white;
	font-size: 16px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	font-weight: 500;
	padding: 6px 12px;
}

.modal.fade .btn9 {
	background-color: rgb(0, 32, 120);
	color: white;
	font-size: 16px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	font-weight: 500;
	padding: 6px 6px 6px 6px;
}

.modal.fade .btn10 {
	background-color: rgba(251, 35, 49, 1);
	color: white;
	font-size: 16px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	font-weight: 500;
	padding: 6px 6px 6px 6px;
}

/* https://stackoverflow.com/questions/11738870/adding-background-color-and-padding-to-row-in-twitter-bootstrap */
.modal.fade .row-padded {
	padding-right: 50px;
	padding-left: 50px;
	background-color: white;
	border: 3px solid red;
}
