.container-fluid {
	text-align: center;
}

.container-fluid button {
	vertical-align: middle;
	display: inline-block;
	text-shadow: -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px -0.5px 0 #000;
	margin-top: 100px;
	margin-right: 40px;
	margin-left: 40px;
	background-color: rgba(251, 35, 49, 1);
	color: white;
	font-size: 28px;
	font-weight: 650;
	text-align: center;
	padding: 0px 24px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	width: 260px;
	height: 110px;
}

.center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.btn {
	background-color: rgba(251, 35, 49, 1);
	color: white;
	font-size: 22px;
}

/* https://stackoverflow.com/questions/11738870/adding-background-color-and-padding-to-row-in-twitter-bootstrap */
.row-padded {
	padding-right: 50px;
	padding-left: 50px;
	background-color: white;
	border: 3px solid red;
}
