.non-modal .container-fluid {
	justify-items: center;
}
.non-modal .container-fluid .col{
	justify-items: center;
}

.non-modal .container-fluid button {
	vertical-align: middle;
	margin-top: 60px;
	background-color: rgba(251, 35, 49, 1);
	color: white;
	font-size: 130%;
	font-weight: 650;
	text-align: center;
	padding: 12px 24px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	width: 80%;
	max-width: 250px;
	max-height: 150px;
	margin-left: 1%;
	margin-right: 1%;
}

.center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.btn {
	background-color: rgba(251, 35, 49, 1);
	color: white;
	font-size: 22px;
}

/* https://stackoverflow.com/questions/11738870/adding-background-color-and-padding-to-row-in-twitter-bootstrap */
.non-modal .row-padded {
	padding-right: 50px;
	padding-left: 50px;
	background-color: white;
	border: 3px solid red;
}
