body {
	visibility: hidden;
}
html{
    min-height:100%;
}
.non-modal{
	margin-bottom: 100px;
	margin-top: 50px;
}
.navbar-centered {
	min-height: auto;
	margin-bottom: auto;
	height: 100px;
	margin-top: auto;
	position:relative; 
	left: auto;
	right: auto; 
	
}
.navbar-centered .img-responsive{
	max-width: 350px;
	
}
.navbar {
	min-width: auto;
	min-height: auto;
	font-size: 2em;
	font-weight: bold;
	position: absolute;
	margin-bottom: auto;
	margin-top: auto;
	
}
.header-navbar.navbar-dark.navbar-expand-lg{
	min-width: auto;
	min-height: auto;
	margin-bottom: auto;
	margin-top: auto;
	text-align:center;
	background-color: black;

}
.navbar.navbar-dark.navbar-expand-lg {
	min-width: auto;
	min-height: auto;
	margin-bottom: auto;
	margin-top: auto;

}

.fas.fa-shopping-cart:hover {
	opacity: 0.5;
	cursor: pointer;
}

