/*https://www.geeksforgeeks.org/how-to-get-circular-buttons-in-bootstrap-4*/
button {
	color: white;
}

h3 {
	color: rgb(0, 32, 120) !important;
	font-size: 34px !important;
	font-weight: 700 !important;
	font-variant: small-caps;
	margin-bottom: 20px !important;
}

h2 {
	color: rgb(0, 32, 120) !important;
	font-size: 34px !important;
	font-weight: 700 !important;
	font-variant: small-caps !important;
}

.card-img-top {
	width: 100% !important;
	height: 250px !important;
	object-fit: cover;
}

.image-parent {
	max-width: 60px;
}

/* Make the image responsive */
.container img {
	width: 100%;
	height: auto;
	margin: 0 auto;
	float: none;
}

/*https://www.w3schools.com/howto/howto_css_button_on_image.asp*/
/*http://talkerscode.com/webtricks/show-button-on-hover-using-html-and-css.php*/
.container2 img {
	width: 100%;
	height: auto;
	margin: 0 auto;
	float: none;
}

.container2 .btn2 {
	width: 60px;
	height: 60px;
	padding: 6px 0px;
	border-radius: 30px;
	position: absolute;
	top: 85%;
	left: 50%;
	right: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	display: none;
	background-color: rgb(0, 32, 120);
	font-size: 30px;
	align-content: center;
	font-weight: 700;
	border: none;
	cursor: pointer;
	content: '✓';
	margin-left: auto;
	margin-right: auto;
}

.container2 .btn7 {
	outline: none;
	display: none;
	width: 45px;
	height: 45px;
	border-radius: 22.5px;
	padding-bottom: 6px;
	background-color: rgba(251, 35, 49, 1);
	font-size: 35px;
	font-weight: 700;
	border: none;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
	position: absolute;
	line-height: 30px;
	top: 40%;
	left: 55%;
	right: 15%;
}

.container2 .btn6 {
	outline: none;
	display: none;
	width: 45px;
	height: 45px;
	border-radius: 22.5px;
	padding-bottom: 8px;
	background-color: rgba(251, 35, 49, 1);
	font-size: 40px;
	font-weight: 700;
	border: none;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
	position: absolute;
	line-height: 30px;
	top: 40%;
	left: 23%;
	right: 50%;
}

/*https://stackoverflow.com/questions/36430816/bootstrap-4-card-deck-with-number-of-columns-based-on-viewport*/
.card-deck .card {
	max-width: 220px !important;
	min-width: 190px !important;
	min-height: 360px !important;
	margin-bottom: 40px !important;
}

.card .card-title {
	margin-bottom: 6px !important;
}

.container2 .btn {
	position: absolute;
	top: 20%;
	left: 50%;
	right: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	display: none;
	background-color: rgba(251, 35, 49, 1);
	font-size: 16px;
	font-weight: 600;
	padding: 10px 10px;
	border: none;
	cursor: pointer;
	width: min-content;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
}

.container2 .btn4 {
	position: absolute;
	top: 45%;
	left: 50%;
	right: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	display: none;
	background-color: rgba(251, 35, 49, 1);
	font-size: 16px;
	font-weight: 600;
	padding: 10px 10px;
	border: none;
	cursor: pointer;
	width: fit-content;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
}

.container2 .btn3 {
	position: absolute;
	top: 70%;
	left: 50%;
	right: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	display: none;
	background-color: rgba(251, 35, 49, 1);
	font-size: 16px;
	font-weight: 600;
	padding: 10px 10px;
	border: none;
	cursor: pointer;
	width: fit-content;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
}

.container2 {
	position: relative;
	width: 100%;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: red;
	color: white;
	text-align: center;
}

.footer .btn5 {
	position: relative;
	background-color: rgb(0, 0, 0);
	color: white;
	font-size: 16px;
	font-weight: 600;
	padding: 10px 10px;
	border: none;
	cursor: pointer;
	width: fit-content;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
}
