/* h1 {
    background-color: orange;color: white;
  }
h2 {
    background-color: orange;color: white;
  } */
/*use this to customize the bootstrap navbar features
https://mdbootstrap.com/snippets/jquery/ascensus/145665#css-tab-view
https://stackoverflow.com/questions/33404154/bootstrap-change-the-navbar-font-size
*/
body {visibility: hidden;}
.navbar-brand {
	min-width: auto;
	min-height: auto;
	margin-bottom: 50px;
	height: 100px;
	position: relative;
	left: 36.5%;
	margin-top: auto;
	
}
.navbar {
	min-width: auto;
	min-height: auto;
	font-size: 2em;
	font-weight: bold;
	position: absolute;
	margin-bottom: auto;
	margin-top: auto;
	
}
.header-navbar.navbar-dark.navbar-expand-lg{
	min-width: auto;
	min-height: auto;
	margin-bottom: auto;
	margin-top: auto;
}
.navbar.navbar-dark.navbar-expand-lg {
	min-width: auto;
	min-height: auto;
	margin-bottom: auto;
	margin-top: auto;

}
/* .collapse.navbar-collapse{
	min-width: auto;
	min-height: auto;
	align-items: center;
	align-self: center;
	align-content: center;
	text-align: center;
} */

.fas.fa-shopping-cart:hover {
	opacity: 0.5;
	cursor: pointer;
}
