{% extends "template_page.html" %} {% block style %}
<link rel="stylesheet" href="../static/css/contact.css" />
{% endblock %} {% block content %}
<title>Contact Us</title>
<div class = "center">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3060.693320769838!2d-75.04199688519167!3d39.90349807942805!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c6cbc16f6b4d5f%3A0xb86c1e10ceebc6d2!2sCrepes%20and%20Shakes!5e0!3m2!1sen!2sus!4v1601741990465!5m2!1sen!2sus" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>
<div class= "left">
	<h4>Contact Us</h4>
	<ul>
  	<li>Phone: 856-428-2141</li>
  	<li>Email: crepenshake427@yahoo.com</li>
  	<li>Address: 427 North Haddon Avenue, Haddonfield, NJ 08033</li>	
	</ul>
	<h4>Hours</h4>
	<ul>
	<li>Due to the exponential rise in COVID-19 cases in NJ we are <span style="font-weight:bold">only open for takeout.</span></li>
	<li>We are will be closed for Thanksgiving from Monday 11/23  to Monday 11/30.</li>
	<li>We are open Wednesday - Sunday from 8:00 AM - 5:00 PM.</li>
	</ul>
	<h4>Catering</h4>
	<p>Please contact us via phone or email for catering information and quotes.</p>
	<h4>Take Out/Dine In Information</h4>
	<p>In adherence with local and national guidelines, we are currently requiring masks to be worn in our restauraunt.</p>
	<h4>Connect With Us</h4>
	<ul>
  	<li>Follow us on instagram <a href="https://www.instagram.com/crepenshake.nj/">@crepenshake.nj</a></li>
	  <li>Check in and leave us a review on <a href="https://www.yelp.com/biz/crepe-n-shake-haddonfield">Yelp</a></li>	
	</ul>
</div>
{% endblock %}