{% extends "template_page.html" %} {% block style %}
<title>Crepe N Shake</title>
<link rel="stylesheet" href="../static/css/index.css" />
{% endblock %} {% block content %}
<div class="container">
  <!-- https://www.w3schools.com/howto/howto_css_button_on_image.asp -->
  <img src="../static/images/crepe.jpg" class="center" id="crepeButtonImage" />
  <button
    class="btn center"
    id="crepeButton"
    style="vertical-align: middle"
    onclick="location.assign('/order')"
  >
    Place Your Order
  </button>
</div>
<br />
<br />
<div class="container center">
  <h2 class="center">
    Call in to order from the Secret Menu! <br />
    Only available this week.
  </h2>

  <br />
  <h1 style="text-align: center">Secret Menu</h1>
  <br />
  <h2>The Big Easy</h2>
  <p>
    Cajun fired shrimp, sauteed onions/peppers inside the crepe which is
    smothered my white wine reduction crab meat cream sauce......13.95
  </p>
  <br />
  <h2>Philly's Best</h2>
  <p>
    Caveman cheese steak! NY stripe steak strips, American cheese, sauteed
    onions/mushrooms. +/-
    Ketchup..................................................11.95
  </p>
  <br />
  <h2>Creme Brulee French Toast</h2>
  <p>
    Cream Brulle batter soaked butter bread stacked with vanilla mousse in
    between layers covered with sugar and torched to
    perfection......................................................9.95
  </p>
  <br />
  <h2>Brownie Bomb</h2>
  <p>
    Huge scoop of premium vanilla ice cream, wrapped with a layer of fudge
    brownie, wrapped in a crepe, covered with melted chocolate and whipped
    cream...........................................10.95
  </p>
  <br />
  <h2>Banana Fosters</h2>
  <p>
    Open face crepe with banana foster sauce flambeed around a huge scoop of
    vanilla ice
    cream..........................................................11.95
  </p>
</div>

{% endblock %}
