<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Crepe N Shake</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="../static/css/styles.css">

    <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous">
    </script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous">
    </script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous">
    </script>
    <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous"/>

    <script src="../static/js/buildYourOwnSavoryCrepe.js"></script>

    <style>
      /*https://www.geeksforgeeks.org/how-to-get-circular-buttons-in-bootstrap-4*/

      button {
        color: white;
      }
      .card-img-top {
        width: 100%!important;
        height: 240px!important;
        object-fit: cover;
      }


      .image-parent {
        max-width: 60px;
      }

      h3 {
        color: rgb(0, 32, 120);
        font-size: 32px;
        font-weight: 700;
        font-variant: small-caps;
        margin-bottom: 20px;
      }

      h2 {
        color: rgb(0, 32, 120);
        font-size: 32px;
        font-weight: 700;
        font-variant: small-caps;
      }

      
      /* Make the image responsive */
      .container img {
        width: 100%;
        height: auto;
        margin: 0 auto; 
        float: none;
      }

      /*https://www.w3schools.com/howto/howto_css_button_on_image.asp*/
      /*http://talkerscode.com/webtricks/show-button-on-hover-using-html-and-css.php*/
      .container2 img {
        width: 100%;
        height: auto;
        margin: 0 auto; 
        float: none;
      }

      .container2 .btn2 {
        width: 60px; 
        height: 60px; 
        padding: 6px 0px; 
        border-radius: 30px; 
        position: absolute;
        top: 85%;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        display: none;
        background-color: rgb(0, 32, 120);
        font-size: 30px;
        align-content: center;
        font-weight: 700;
        border: none;
        cursor: pointer;
        content: '✓';
        margin-left: auto;
        margin-right: auto;  
      }

      /*https://stackoverflow.com/questions/36430816/bootstrap-4-card-deck-with-number-of-columns-based-on-viewport*/
      .card-deck .card {
        max-width: 200px;
        min-width: 180px;
        max-height: 346px;
        margin-bottom: 40px;
      }

      .container2 .btn {
        position: absolute;
        top: 20%;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        display: none;
        background-color: rgba(251, 35, 49, 1);
        font-size: 16px;
        font-weight: 600;
        padding: 10px 10px;
        border: none;
        cursor: pointer;
        width: min-content;
        border-radius: 5px;
        margin-left: auto;
        margin-right: auto;  
      }

      .container2 .btn4 {
        position: absolute;
        top: 40%;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        display: none;
        background-color: rgba(251, 35, 49, 1);
        font-size: 16px;
        font-weight: 600;
        padding: 10px 10px;
        border: none;
        cursor: pointer;
        width: fit-content;
        border-radius: 5px;
        margin-left: auto;
        margin-right: auto;  
      }

      .container2 .btn3 {
        position: absolute;
        top: 60%;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        display: none;
        background-color: rgba(251, 35, 49, 1);
        font-size: 16px;
        font-weight: 600;
        padding: 10px 10px;
        border: none;
        cursor: pointer;
        width: fit-content;
        border-radius: 5px;
        margin-left: auto;
        margin-right: auto;  
      }

      .container2 {
        position: relative;
        width: 100%;
      }
    
      .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 80px;
        background-color: red;
        color: white;
        text-align: center;
      }

      .footer .btn5 {
        position: relative;
        background-color: rgb(0, 0, 0);
        color: white;
        font-size: 16px;
        font-weight: 600;
        padding: 10px 10px;
        border: none;
        cursor: pointer;
        width: fit-content;
        border-radius: 5px;
        margin-left: auto;
        margin-right: auto;  
      }
    </style>
  </head>

  <body>
    <nav class="header-navbar navbar-dark navbar-expand-lg " style="background-color: black; margin-bottom: 30px;" href="#">
      <a class="navbar-brand" style="background-color: black;"  href={{url_for('home')}}>
        <img class="img-responsive" src="../static/images/NewLogo.png" width="350" height="150" alt="" >
      </a>
    
      <nav class="navbar navbar-dark navbar-expand-lg" style="background-color: black;" href="#">
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- https://www.geeksforgeeks.org/how-to-align-navbar-items-to-center-using-bootstrap-4/ -->
        <div class="collapse navbar-collapse" ></div>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02"style=" margin-top:0px;">
          <ul class="navbar-nav mt-2 mt-lg-0">
            <li class="nav-item px-3">
              <a class="nav-link" style="color:#FB2331;" href={{url_for('home')}}>Home</a>
            </li>
            <li class="nav-item px-3">
              <a class="nav-link" style="color:#FB2331;" href={{url_for('menu')}}>Menu</a>
            </li>
            <li class="nav-item px-3">
              <a class="nav-link" style="color:#FB2331;" href={{url_for('contact')}}>Contact</a>
            </li>
            <li class="nav-item px-3">
              <a class="nav-link" style="color:#FB2331;" href={{url_for('about')}}>About</a>
            </li>
            <li class="nav-item px-3">
              <a class="nav-link" style="color:#FB2331;" href={{url_for('team')}}>Team</a>
            </li>
          </ul>
        </div>
      </nav>
    </nav>

    <div class="container1">
    <div class="card" style="width: 100%; border-right-color: white;  border-left-color: white; border-top-color: white; margin: 0 auto; float: none;">
      <div class="d-flex align-items-center" style="margin-left: 30px; margin-right: 30px"></div>
        <div class="row no-gutters">
          <div class="col-md-4">
            <div class="d-flex align-items-center" style="margin-top:50px; margin-bottom:30px">
              <img src="../static/images/crepe.jpg" class="card-img" alt="..." style="vertical-align: middle; margin-left: 80px;" id="crepeImg">
            </div>   
          </div>
          <div class="col-md-8">
            <div class="card-body" style="margin-left: 150px" id="cardBody">
              <div class="d-flex align-items-center" style="margin-bottom: 0px; margin-top: 0px;">
                <h2 class="card-title" style="margin-bottom: 10px;">Build Your</h2>
              </div>  
              <div class="d-flex align-items-center" style="margin-bottom: 10px; margin-top: 0px;">
                <h3 class="card-title">CREPE</h3>
              </div> 
            </div>  
            <p class="card-text" style="margin-left: 170px; margin-right: 50px; margin-bottom: 0px;" id="cardText">Craft your designer crepe with your choice of freshly grilled meat or tofu wrapped in a thin crepe with your choice of cheese and herbs topped off with a gourmet sauce.
            </p>
          </div>  
        </div>
      </div>
    </div> 

    {% for j in ingredient_categories %}
      <div class="container" style="margin-top:40px;">
        <div class="row"></div>
        <h3>{{j.ingredient_category_id}}</h3>
        <div class="card-deck" id="{{j.ingredient_category_id}}"></div>
        {% for i in ingredient_prices %}
          {% if i.ingredient_category_id == j.ingredient_category_id %}
            
              <div class="card" id="card1">          
                  <img src="/static/images/steak edited.jpg" class="card-img-top " alt="...">                
                <div class="card-body">
                  <h5 class="card-title">{{i.id}}</h5>
                  <p class="card-text">{{i.price}}</p>
                </div>
              </div>
          {% endif %}
        {% endfor %}
    {% endfor %}
    
    <!-- https://stackoverflow.com/questions/52502675/flask-url-for-with-arguments -->
    <div class="footer d-flex align-items-center">
      <div class="alert-danger" role="alert" id="error2" style="font-size: 30px; display: none; font-weight: 500; position: fixed; margin-bottom: 80px; left: 0;
        bottom: 0; right: 0; text-align: center;">Please select a protein.</div>
      <button class="btn5" id="checkout" onclick="checkOut();">Add to Cart</button>
    </div>

  
  </body>
</html>