{% extends "template_page.html" %} {% block style %}
<link rel="stylesheet" type="text/css" href="../static/css/make_your_own_crepe.css" />
{% endblock %} 

{% block content %} 

{% if editOrder %}
<div id="{{editOrder}}" class="edit"></div>
{% endif %}

<div class="container1">
	<div
		class="card"
		style="
			width: 100%;
			border-right-color: white;
			border-left-color: white;
			border-top-color: white;
			margin: 0 auto;
			float: none;
		"
	>
		<div class="d-flex align-items-center" style="margin-left: 30px; margin-right: 30px">
			<div class="row no-gutters" style="display: table-row;">
				<div class="col" style="display:table-cell; vertical-align:middle; width:33%">

					<div class="d-flex align-items-center" style="margin-top: 50px; margin-bottom: 30px">
						<img
							src="../static/images/crepe.jpg"
							class="card-img"
							alt="..."
							style="vertical-align: middle; margin-left: 80px"
							id="sweetCrepeImg"
						/>
					</div>
				</div>
				<div class="col" style="display:table-cell; vertical-align:middle; width:66%">
					<div class="card-body" style="margin-left: 100px" id="cardBody">
						<div class="d-flex align-items-center" style="margin-bottom: 0px; margin-top: 0px; vertical-align:middle;">
							<h2 class="card-title head3" style="margin-bottom: 10px">Build Your Own</h2>
						</div>
						<div class="d-flex align-items-center" style="margin-bottom: 10px; margin-top: 0px">
							<h3 class="card-title head3">SWEET CREPE</h3>
						</div>
					
					<p class="card-text" style="margin-left: 170px; margin-right: 50px; margin-bottom: 0px" id="cardText">
						A sweet twist on our build your own savory crepe. Indulge yourself with our fresh fruits and rich, sweetness toppings.
					</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% for j in range(sweet_ingredient_categories|length) %}

<div class="container0sweetCrepe" style="margin-top: 40px; border-bottom: 1px solid #dee1e3; justify-items:center">
	<div class="row">
		<h3 class="head3">{{sweet_ingredient_categories[j].id +" " + rules_for_each_category[j]}}</h3>
	</div>
	<div class="card-deck" id='{{sweet_ingredient_categories[j].id}}'>
		{% for i in range(sweet_ingredients|length) %} {% if sweet_ingredients[i].ingredient_category_id == sweet_ingredient_categories[j].id %}
		<div class="card" id='{{sweet_ingredients[i].id}}' data-ingredients='{{sweet_ingredients[i]|tojson}}'>
			<img src="" class="card-img-top" alt="..." />
			<div class="card-body">
				<h5 class="card-title">{{sweet_ingredients[i].id}}</h5>
				<p class="card-text">{{sweet_ingredients[i].price}}</p>

			</div>
		</div>
 		{% endif %} {% endfor %}
	</div>
</div>
{% endfor %}
<div class="row" style="margin-bottom: 140px"></div>

<!-- https://stackoverflow.com/questions/52502675/flask-url-for-with-arguments -->
<div class="footer d-flex align-items-center">
	<div
		class="alert-danger"
		role="alert"
		id="error2"
		style="
			font-size: 30px;
			display: none;
			font-weight: 500;
			position: fixed;
			margin-bottom: 80px;
			left: 0;
			bottom: 0;
			right: 0;
			text-align: center;
		"
	>
		Please select a protein.
	</div>
	<button class="btn5" id="buildSweetCrepecheckout">Add to Cart</button>
</div>
{% endblock %}
{% block script %} 
<script type="module" src="../static/js/order-sweet-crepe.js"></script>
{% endblock %}
