{% extends "template_page.html" %} {% block style %}
<link rel="stylesheet" href="../static/css/order.css" />

<title>Crepe N Shake</title>{% endblock %} {% block content %}

<div class="container-fluid">
	<div class="col6 text-center">
		<button onclick="location.assign('/order/make-your-own-savory-crepe')">Build Your Own Savory Crepe</button>
		<button onclick="location.assign('/order/make-your-own-sweet-crepe')">Build Your Own Sweet Crepe</button>
		<button onclick="location.assign('/order/menu-crepe')">Order a Crepe From the Menu</button>

	</div>
	<div class="col6 text-center">
		<button onclick="location.assign('/order/drink')">Order a Drink</button>
		<button onclick="location.assign('/order/side')">Order a Side</button>
	</div>
</div>
{% endblock %}
