{% extends "template_page.html" %} 

{% block style %}
<link rel="stylesheet" type="text/css" href="../static/css/make_your_own_crepe.css" />
{% endblock %} 

{% block content %} {% if editOrder %}
<div id='{{editOrder}}' class="edit"></div>
{% endif %} 

{% for j in range(drink_categories|length) %} {% if drink_categories[j].id == 'coffee' %} 

<div class="container" style="margin-top: 40px; border-bottom: 1px solid #dee1e3">
	<h3 class="head3">{{ drink_categories[j].id }}</h3>
	<div class="card-deck" id='{{drink_categories[j].id}}'>
		{% for i in range(coffee_drinks|length) %}
		<div class="card" id='{{coffee_drinks[i].id}}' data-drinks='{{coffee_drinks[i]|tojson}}'>
			<img src="" class="card-img-top" alt="..." />
			<div class="card-body">
				<h5 class="card-title">{{coffee_drinks[i].serving_size + " " + coffee_drinks[i].name}}</h5>
				<p class="card-text">${{coffee_drinks[i].price}}</p>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

	<div class="container" style="margin-top: 40px; border-bottom: 1px solid #dee1e3">
		<div class="container" style=" display: flex; align-items: center; justify-content: left; padding-left:0px">
			<h3 class="head3" style="float: left">Select a Milk for Your Coffee</h3>
			<h5 id="errorMilk" style="color: #f20000; margin-left: 20px">*Please select a coffee first</h5>
		</div>
		<div class="card-deck" id="milk">
			{% for i in range(milk_drinks|length) %}
			<div class="card" id='{{milk_drinks[i].id}}' data-drinks='{{milk_drinks[i]|tojson}}'>
				<img src="" class="card-img-top" alt="..." />
				<div class="card-body">
					<h5 class="card-title">{{milk_drinks[i].id}}</h5>
					{% if milk_drinks[i].id == 'almond_milk' %}
					<p class="card-text">${{milk_drinks[i].price}} extra</p>
					{% else %}
					<p class="card-text"></p>
					{% endif %}
				</div>
			</div>
			{% endfor %}
		</div>
	</div>

	<div class="container" style="margin-top: 40px; border-bottom: 1px solid #dee1e3">
		<div class="container" style="display: flex; align-items: center; justify-content:left; padding-left:0px;">
			<h3 class="head3" style="float: left">Hot or Iced Coffee?</h3>
			<h5 id="errorTemp" style="color: #f20000; margin-left: 20px">*Please select a coffee first</h5>
		</div>
		<div class="card-deck" id="temperature">
			{% for i in range(coffee_temperatures|length) %}
			<div class="card" id='{{coffee_temperatures[i].id}}' data-drinks='{{coffee_temperatures[i]|tojson}}'>
				<img src="" class="card-img-top" alt="..." />
				<div class="card-body">
					<h5 class="card-title">{{coffee_temperatures[i].id}}</h5>
					<p class="card-text"></p>

				</div>
			</div>
			{% endfor %}
		</div>
	</div>

	<div class="container" style="margin-top: 40px; border-bottom: 1px solid #dee1e3">
		<div class="container" style="display: flex; align-items: center; justify-content:left; padding-left:0px;">
			<h3 class="head3" style="float: left">Add Extra Syrup ($0.99 extra)</h3>
			<h5 id="errorSyrup" style="color: #f20000; margin-left: 20px">*Please select a coffee first</h5>
		</div>
		<div class="card-deck" id="syrup">
			{% for i in range(coffee_syrups|length) %}
			<div class="card" id='{{coffee_syrups[i].coffee_syrup_flavor}}' data-drinks='{{coffee_syrups[i]|tojson}}'>
				<img src="" class="card-img-top" alt="..." />
				<div class="card-body">
					<h5 class="card-title">{{coffee_syrups[i].coffee_syrup_flavor}}</h5>
					<p class="card-text"></p>

				</div>
			</div>
			{% endfor %}
		</div>
	</div>
{% elif drink_categories[j].id == 'milkshake' %}
<div class="container" style="margin-top: 40px; border-bottom: 1px solid #dee1e3">
	<h3 class="head3">Gourmet {{drink_categories[j].id }}s</h3>
	<div class="card-deck" id='{{drink_categories[j].id}}'>
		{% for i in range(milkshakes|length) %}
		<div class="card" id='{{milkshakes[i].id}}' data-drinks='{{milkshakes[i]|tojson}}'>
			<div  ></div>
			<img src="" class="card-img-top" alt="..." />
			<div class="card-body">
				<h5 class="card-title">{{milkshakes[i].name}}</h5>
				<p class="card-text">${{milkshakes[i].price}}</p>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% elif drink_categories[j].id == 'non-coffee' %}

<div class="container" style="margin-top: 40px; border-bottom: 1px solid #dee1e3">
	<h3 class="head3">{{drink_categories[j].id }} drinks</h3>
	<div class="card-deck" id='{{drink_categories[j].id}}'>
		{% for i in range(non_coffee_drinks|length) %}
		<div class="card" id='{{non_coffee_drinks[i].id}}' data-drinks='{{non_coffee_drinks[i]|tojson}}' style="max-width: 240px !important; min-width: 210px !important">
			<img src="" class="card-img-top" alt="..." />
			<div class="card-body">
				<h5 class="card-title">{{non_coffee_drinks[i].serving_size + " " + non_coffee_drinks[i].name}}</h5>
				<p class="card-text">${{non_coffee_drinks[i].price}}</p>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% elif drink_categories[j].id == 'bottled' %}

<div class="container" style="margin-top: 40px; border-bottom: 1px solid #dee1e3">
	<h3 class="head3">{{drink_categories[j].id }} drinks</h3>
	<div class="card-deck" id='{{drink_categories[j].id}}'>
		{% for i in range(bottled_drinks|length) %}
		<div class="card" id='{{bottled_drinks[i].id}}' data-drinks='{{bottled_drinks[i]|tojson}}'>
			<img src="" class="card-img-top" alt="..." />
			<div class="card-body">
				<h5 class="card-title">{{bottled_drinks[i].name}}</h5>
				<p class="card-text">${{bottled_drinks[i].price}}</p>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endif %}
 {% endfor %}
<div class="row" style="margin-bottom: 140px"></div>

<!-- https://stackoverflow.com/questions/52502675/flask-url-for-with-arguments -->
<div class="footer d-flex align-items-center">
	<button class="btn5" id="drinkcheckout">Add to Cart</button>
		<div
		class="alert-danger"
		role="alert"
		id="errorCoffee"
		style="
			font-size: 30px;
			display: none;
			font-weight: 500;
			position: fixed;
			margin-bottom: 60px;
			left: 0;
			bottom: 0;
			right: 0;
			text-align: center;
		"
	>
		Please select a temperature for your coffee.
	</div>
</div>
{% endblock %}

{% block script %}
<script type="module" src="../static/js/order-drink.js"></script>
{% endblock %} 
