{% extends "template_page.html" %} {% block style %}
<title>Crepe N Shake</title>
<style>
	.center {
		display: block;
		margin-top: 40px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 200px;
		width: 100%;
		height: auto;
	}
	.container {
		position: relative;
		width: 50%;
	}

	/* Make the image responsive */
	.container img {
		width: 60%;
		height: auto;
	}

	/* Style the button and place it in the middle of the container/image */
	.container .btn {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		background-color: rgba(251, 35, 49, 0.3);
		color: white;
		font-size: 32px;
		font-weight: 600;
		padding: 12px 24px;
		border: none;
		cursor: grab;
		border-radius: 5px;
		width: 300px;
		height: 100px;
	}

	.container .btn:hover {
		background-color: black;
	}
</style>

{% endblock %} {% block content %}
<div class="container">
	<!-- https://www.w3schools.com/howto/howto_css_button_on_image.asp -->
	<img src="../static/images/crepe.jpg" class="center" />
	<button class="btn" onclick="location.assign('/order')">Place Your Order</button>
</div>
{% endblock %}
