{% extends "template_page.html" %} {% block style %}
<link rel="stylesheet" type="text/css" href="../static/css/make_your_own_crepe.css" />
{% endblock %} {% block content %}

<div class="container1">
	<div
		class="card"
		style="
			width: 100%;
			border-right-color: white;
			border-left-color: white;
			border-top-color: white;
			margin: 0 auto;
			float: none;
		"
		id= "card-00"
	>
		<div class="d-flex align-items-center" style="margin-left: 30px; margin-right: 30px"></div>
		<div class="row no-gutters">
			<div class="col-md-4">
				<div class="d-flex align-items-center" style="margin-top: 50px; margin-bottom: 30px">
					<img
						src="../static/images/crepe.jpg"
						class="card-img"
						alt="..."
						style="vertical-align: middle; margin-left: 80px"
						id="crepeImg"
					/>
				</div>
			</div>
			<div class="col-md-8">
				<div class="card-body" style="margin-left: 150px" id="cardBody">
					<div class="d-flex align-items-center" style="margin-bottom: 0px; margin-top: 0px">
						<h2 class="card-title head2" style="margin-bottom: 10px">Build Your</h2>
					</div>
					<div class="d-flex align-items-center" style="margin-bottom: 10px; margin-top: 0px">
						<h3 class="card-title head3">CREPE</h3>
					</div>
				</div>
				<p class="card-text" style="margin-left: 170px; margin-right: 50px; margin-bottom: 0px" id="cardText">
					Craft your designer crepe with your choice of freshly grilled meat or tofu wrapped in a thin crepe
					with your choice of cheese and herbs topped off with a gourmet sauce.
				</p>
			</div>
		</div>
	</div>
</div>
{% if editOrder %}
<div id="{{editOrder}}" class="edit"></div>
{% endif %} {% for i in range(savory_ingredient_prices_by_category|length) %}

<div class="container0" style="margin-top: 40px; border-bottom: 1px solid #dee1e3">
	<div class="row">
		<h3 class="head3">{{formatted_savory_ingredient_prices_by_category[i].ingredient_category}}</h3>
	</div>
	<div class="card-deck" id="{{savory_ingredient_prices_by_category[i].ingredient_category}}">
			{% for j in range(savory_ingredient_prices_by_category[i].ingredients|length) %}
				{% if savory_ingredient_prices_by_category[i].ingredients[j].price > 0.0 %} 
					<div class="card" id='{{savory_ingredient_prices_by_category[i].ingredients[j].id}}' data-ingredients='{{savory_ingredient_prices_by_category[i].ingredients[j]|tojson}}'>
						<img src="" class="card-img-top" alt="..." />
						<div class="card-body">
							<h5 class="card-title">{{formatted_savory_ingredient_prices_by_category[i].ingredients[j].id}}</h5>
							<p class="card-text">${{formatted_savory_ingredient_prices_by_category[i].ingredients[j].price}}</p>
						</div>
					</div>

				{% else %}
					<div class="card" id='{{savory_ingredient_prices_by_category[i].ingredients[j].id}}' data-ingredients='{{savory_ingredient_prices_by_category[i].ingredients[j]|tojson}}'>
						<img src="" class="card-img-top" alt="..." />
						<div class="card-body">
							<h5 class="card-title">{{formatted_savory_ingredient_prices_by_category[i].ingredients[j].id}}</h5>
							<p class="card-text"></p>
						</div>
					</div>
				{% endif %} 
			{% endfor %} 
	</div>
</div>
{% endfor %}
<div class="row" style="margin-bottom: 140px"></div>

<!-- https://stackoverflow.com/questions/52502675/flask-url-for-with-arguments -->
<div class="footer d-flex align-items-center">
	<div
		class="alert-danger"
		role="alert"
		id="error2"
		style="
			font-size: 30px;
			display: none;
			font-weight: 500;
			position: fixed;
			margin-bottom: 80px;
			left: 0;
			bottom: 0;
			right: 0;
			text-align: center;
		"
	>
		Please select a protein.
	</div>
	<button class="btn5 btn1" id="savoryCrepeCheckOut">Add to Cart</button>
</div>
{% endblock %}
{% block script %}
<script src="../static/js/buildYourOwnSavoryCrepe.js" type="module"></script>
{% endblock %}
