{% extends "template_page.html" %} {% block style %}
<link rel="stylesheet" href="../static/css/contact.css" />
{% endblock %} {% block content %}
<title>Menu</title>
<div class = "center">
    <h1>Menu</h1>
</div>
<div class= "left">
	<h4>Contact Us</h4>
	<ul>
  	<li>Phone: 856-428-2141</li>
  	<li>Email: crepenshake427@yahoo.com</li>
  	<li>Address: 427 North Haddon Avenue, Haddonfield, NJ 08033</li>	
	</ul>
	<h4>Hours</h4>
	<p>We are open Tuesday - Sunday from 8:00 AM - 8:00 PM.</p>
</div>
{% endblock %}