{% extends "template_page.html" %} 

{% block style %}
<link rel="stylesheet" type="text/css" href="../static/css/make_your_own_crepe.css" />
{% endblock %} 

{% block content %} {% if editOrder %}
<div id='{{editOrder}}' class="edit"></div>
{% endif %} 

{% if drink_categories %}
<div id="drinkCategories" data-category='{{ drink_categories|tojson }}'></div>
{% endif %} 

{% for j in range(drink_categories|length) %} {% if drink_categories[j].id == 'coffee' %} 
{% if coffee_drinks %}
<div id="coffeeDrinks" data-coffee='{{ coffee_drinks|tojson }}'></div>
{% endif %} 

{% if milk_drinks %}
<div id="milkDrinks" data-milk='{{ milk_drinks|tojson }}''></div>
{% endif %}

{% if serving_sizes %}
<div id="servingSizes" data-servingsizes='{{ serving_sizes|tojson }}'></div>
{% endif %}

<div class="container" style="margin-top: 40px; border-bottom: 1px solid #dee1e3">
	<h3 class="head3">{{ drink_categories[j].id }}</h3>
	<div class="card-deck" id='{{drink_categories[j].id}}'>
		{% for i in formatted_coffee_drinks %}
		<div class="card" id="card1">
			<img src="" class="card-img-top" alt="..." />
			<div class="card-body">
				<h5 class="card-title">{{i.serving_size + " " + i.name}}</h5>
				<p class="card-text">${{i.price}}</p>
			</div>
		</div>
		{% endfor %}
	</div>
	<div class="container" style="margin-top: 40px; border-bottom: 1px solid #dee1e3">
		<div class="container" style="display: inline-block; display: flex; align-items: center; justify-content: left">
			<h3 class="head3" style="float: left">Select a Milk for Your Coffee</h3>
			<h5 id="errorMilk" style="color: #f20000; margin-left: 20px">*Please select a coffee first</h5>
		</div>
		<div class="card-deck" id="milk">
			{% for i in formatted_milk_drinks %}
			<div class="card" id="card1">
				<img src="" class="card-img-top" alt="..." />
				<div class="card-body">
					<h5 class="card-title">{{i.id}}</h5>
					{% if i.id == 'Almond Milk' %}
					<p class="card-text">${{i.price}} extra</p>
					{% endif %}
				</div>
			</div>
			{% endfor %}
		</div>
	</div>

	{% if coffee_temperatures %}
	<div id="coffeeTemperature" data-temperature='{{ coffee_temperatures|tojson }}'></div>
	{% endif %}
	<div class="container" style="margin-top: 40px; border-bottom: 1px solid #dee1e3">
		<div class="container" style="display: inline-block; display: flex; align-items: center; justify-content: left">
			<h3 class="head3" style="float: left">Hot or Iced Coffee?</h3>
			<h5 id="errorTemp" style="color: #f20000; margin-left: 20px">*Please select a coffee first</h5>
		</div>
		<div class="card-deck" id="temperature">
			{% for i in formatted_coffee_temperatures %}
			<div class="card" id="card1">
				<img src="" class="card-img-top" alt="..." />
				<div class="card-body">
					<h5 class="card-title">{{i.id}}</h5>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>

	{% if coffee_syrups %}
	<div id="coffeeSyrups" data-syrup='{{ coffee_syrups|tojson }}'></div>
	{% endif %}
	<div class="container" style="margin-top: 40px; border-bottom: 1px solid #dee1e3">
		<div class="container" style="display: inline-block; display: flex; align-items: center; justify-content: left">
			<h3 class="head3" style="float: left">add extra coffee flavoring ($0.99 extra)</h3>
			<h5 id="errorSyrup" style="color: #f20000; margin-left: 20px">*Please select a coffee first</h5>
		</div>
		<div class="card-deck" id="coffee_syrup">
			{% for i in formatted_coffee_syrups %}
			<div class="card" id="card1">
				<img src="" class="card-img-top" alt="..." />
				<div class="card-body">
					<h5 class="card-title">{{i.coffee_syrup_flavor}}</h5>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>

{% if milkshakes %}
<div id="milkshakeDrinks" data-milkshake='{{ milkshakes|tojson }}'></div>
{% endif %} {% endif %} {% if drink_categories[j].id == 'milkshake'%}
<div class="container" style="margin-top: 40px; border-bottom: 1px solid #dee1e3">
	<h3 class="head3">Gourmet {{drink_categories[j].id }}s</h3>
	<div class="card-deck" id='{{drink_categories[j].id}}'>
		{% for i in formatted_milkshakes %}
		<div class="card" id="card1">
			<img src="" class="card-img-top" alt="..." />
			<div class="card-body">
				<h5 class="card-title">{{i.name}}</h5>
				<p class="card-text">${{i.price}}</p>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

{% endif %} {% if drink_categories[j].id == 'non-coffee'%} {% if non_coffee_drinks %}
<div id="nonCoffeeDrinks" data-noncoffee='{{ non_coffee_drinks|tojson }}'></div>
{% endif %}
<div class="container" style="margin-top: 40px; border-bottom: 1px solid #dee1e3">
	<h3 class="head3">{{drink_categories[j].id }} drinks</h3>
	<div class="card-deck" id='{{drink_categories[j].id}}'>
		{% for i in formatted_non_coffee_drinks %}
		<div class="card" id="card1" style="max-width: 240px !important; min-width: 210px !important">
			<img src="" class="card-img-top" alt="..." />
			<div class="card-body">
				<h5 class="card-title">{{i.serving_size + " " + i.name}}</h5>
				<p class="card-text">${{i.price}}</p>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

{% endif %} {% if drink_categories[j].id == 'bottled'%} {% if bottled_drinks %}
<div id="bottledDrinks" data-bottled='{{ bottled_drinks|tojson }}'></div>
{% endif %}
<div class="container" style="margin-top: 40px; border-bottom: 1px solid #dee1e3">
	<h3 class="head3">{{drink_categories[j].id }} drinks</h3>
	<div class="card-deck" id='{{drink_categories[j].id}}'>
		{% for i in formatted_bottled_drinks %}
		<div class="card" id="card1">
			<img src="" class="card-img-top" alt="..." />
			<div class="card-body">
				<h5 class="card-title">{{i.name}}</h5>
				<p class="card-text">${{i.price}}</p>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endif %} {% endfor %}
<div class="row" style="margin-bottom: 140px"></div>

<!-- https://stackoverflow.com/questions/52502675/flask-url-for-with-arguments -->
<div class="footer d-flex align-items-center">
	<button class="btn5" id="drinkcheckout">Add to Cart</button>
	<!-- <button class="btn5" id="checkout" onclick="location.assign('/order-drink')">Add to Cart</button> -->
</div>
{% endblock %}
{% block script %}
<script type="module" src="../static/js/order-drink.js"></script>
{% endblock %} 
